<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <!-- Local css-->
        <link rel="stylesheet" href="../static/css/menu.css">
        <link rel="stylesheet" href="../static/css/main.css">
        <link rel="stylesheet" href="../static/css/formformat.css">
        <link rel="stylesheet" href="../static/css/carousel.css">
        <script src="../static/js/jquery-3.6.0.min.js"></script>
       
       <title>Home</title>
    </head>
    <body>
        <div class="menu">
            <a href="/managerHome"><img src="../static/images/home.png" alt="Home" height="30px"></a>
            <a href="#" class="inactiveLink">Home</a>
            <a href="/createProject">Create new project</a>
            <a href="/softSkills">Update personal status</a>
            <a href="/logout">Log out</a>
        </div>
        <div class="main">
            <h1>Welcome,&nbsp {{ name }}!</h1>
            <div class="contentdiv">
                {% if greenProjects %}
                <div id="greenCarousel" class="contentbox carousel slide" data-interval="false">
                    <h3 style="color:green;"> Green projects </h3>
                    <div class="carousel-inner">
                        {% for green_proj in greenProjects %}
                        <!-- just to test it works, remove the line below -->
                        <h1>{{green_proj.project_name}}</h1>
                        <div class="carousel-item">
                            <div class="container">
                                <h4>{{green_proj.project_name}}</h4>
                                <p>{{green_proj.description}}</p>
                                <p>Looks like this project is low-risk!<p>
                                <form method="POST" action="/projectInfoRedirect">
                                    <input type="hidden"  name="{{green_proj.project_id}}" id="{{green_proj.project_id}}">
                                    <input type="submit" value="See more information">
                                </form>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <a href="#greenCarousel" class="carousel-control-prev" role="button" data-slide="prev">
                        <span class="sr-only">Previous</span>
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    </a>
                    <a href="#greenCarousel" class="carousel-control-next" role="button" data-slide="next">
                        <span class="sr-only">Next</span>
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    </a>
                </div>
                {% else %}
                <div class="contentbox">
                    <h3 style="color:green;"> Green projects </h3>
                    <p> Looks like you don't have any "green" projects...</p>
                </div>
                {% endif %}

                {% if amberProjects %}
                <div id="amberCarousel" class="contentbox carousel slide" data-interval="false">
                    <h3 style="color:GoldenRod;"> Amber projects </h3>
                    <div class="carousel-inner">
                        {% for amber_proj in amber_projects %}
                        <div class="carousel-item">
                            <div class="container">
                                <h4>{{amber_proj.project_name}}</h4>
                                <p>{{amber_proj.description}}</p>
                                <ul> The top risk areas are: 
                                {% for risk in amber_proj.toprisks %}
                                    <li>{{risk}}</li>
                                {% endfor %}
                                </ul>
                                <form method="POST" action="/projectInfoRedirect">
                                    <input type="hidden"  name="{{amber_proj.project_id}}" id="{{amber_proj.project_id}}">
                                    <input type="submit" value="See more information">
                                </form>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <a href="#amberCarousel" class="carousel-control-prev" role="button" data-slide="prev">
                        <span class="sr-only">Previous</span>
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    </a>
                    <a href="#amberCarousel" class="carousel-control-next" role="button" data-slide="next">
                        <span class="sr-only">Next</span>
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    </a>
                </div>
                {% else %}
                <div class="contentbox">
                    <h3 style="color:GoldenRod;"> Amber projects </h3>
                    <p> Looks like you don't have any "amber" projects...</p>
                </div>
                {% endif %}

                {% if redProjects %}
                <div id="redCarousel" class="contentbox carousel slide" data-interval="false">
                    <h3 style="color:red;"> Green projects </h3>
                    <div class="carousel-inner">
                        {% for red_proj in red_projects %}
                        <div class="carousel-item">
                            <div class="container">
                                <h4>{{red_proj.project_name}}</h4>
                                <p>{{red_proj.description}}</p>
                                <ul> The top risk areas are: 
                                {% for risk in red_proj.toprisks %}
                                    <li>{{risk}}</li>
                                {% endfor %}
                                </ul>
                                <form method="POST" action="/projectInfoRedirect">
                                    <input type="hidden"  name="{{red_proj.project_id}}" id="{{red_proj.project_id}}">
                                    <input type="submit" value="See more information">
                                </form>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <a href="#redCarousel" class="carousel-control-prev" role="button" data-slide="prev">
                        <span class="sr-only">Previous</span>
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    </a>
                    <a href="#redCarousel" class="carousel-control-next" role="button" data-slide="next">
                        <span class="sr-only">Next</span>
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    </a>
                </div>
                {% else %}
                <div class="contentbox">
                    <h3 style="color:Maroon;"> Red projects </h3>
                    <p> Looks like you don't have any "red" projects...</p>
                </div>
                {% endif %}
            </div>
        </div>

        <!-- Bootstrap JavaScript integrations -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>
