.carousel-item{
    text-align:left;
}

.carousel-inner> .container{
    margin:10px;
}

.menu> *{
    box-sizing:content-box;
}

.carousel-item > .container > form{
    padding:0px;
    display: inline;
    border: none;
    width:100%;
    margin: auto;
    background-color:white;
}
.container{
    margin: 15px;
    padding-left:15px;
    padding-right: 15px;
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%230b3378' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
   
.carousel-control-next-icon {
     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%230b3378' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

 .carousel-control-prev {
    padding: 0px 5px;
    max-width: fit-content;
}

.carousel-control-next {
    padding: 0px 5px;
    max-width: fit-content;
}

.carousel{
    max-width: 33%;
}