@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
  body{
    margin : 0;
  }
  
  h1, h2, h3, h4, h5, h6, legend{
    color: #134CAE;
    font-family: 'Patua One', cursive;
    font-weight: 400;
  }
    
  p {
    font-family: 'Raleway', Arial, sans-serif;
    font-weight: 500;
    font-size: large;
  }

  .main {
    font-family: Arial, sans-serif;
    font-size: large;
    margin-top: 1cm; 
    padding: 50px;
    padding-top: 0%;
  }

  button {
    background-color: #0b3378;
    border: none;
    border-radius: 8px;
    font-size: large;
    font-family: 'Raleway', Arial, sans-serif;
    font-weight: 500;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
  }
  
  button a{
    font-size: large;
    font-family: 'Raleway', Arial, sans-serif;
    font-weight: 500;
    color: white;
    text-align: center;
    text-decoration: none;
  }

  button:hover{
    background-color: #b1ceff;
    border: none;
    color: #021537;
    text-decoration: none;
    border-radius: 8px;
    padding: 10px 20px;
    display: inline-block;
  }

  button:hover a{
    color: #021537;
    text-decoration: none;
  }

  td {
    text-align: left;
    vertical-align: top;
    padding-right: 2cm;
    width: auto;
  }
  
  .contentdiv, .contentdiv_column{
    display : flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    flex-direction: row;
    background-color: #6B9BEC;
    
  }

  .contentdiv_column{
    flex-direction: column;
  }

  .contentbox{
    flex-grow: 1;
    min-height: 3cm;
    min-width: 3cm;
    margin: 15px;
    padding: 0px 15px;
    border-radius: 10px;
    text-align: center;
    background-color: #ffffff;
  }

  div.buttondiv{
    display : flex;
    justify-content: space-around;
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 10px;
    flex-direction: row;
    background-color:#6B9BEC;
    
  }

  .buttondiv > button{
    flex-grow: 1;
    padding: 0px 15px;
    margin: 10px;
    border-radius: 10px;
    min-height: 34px;
    text-align: center;
  }

  .buttondiv > button > a{
   line-height: 20px;
   font-weight: 600;
  }

  li{
    font-family: 'Raleway', Arial, sans-serif;
    margin: 10px;
    display: flex;
    min-width:50%;
    justify-content:left;
    flex-direction:row-reverse;
    align-items:center;
    font-weight: 500;
    font-size: large;
  }
  ul{
    font-weight: 500;
    font-size: large;
    font-family: 'Raleway', Arial, sans-serif;
  }

  li > button, li>button:hover{
    margin-right:10px;
    padding:5px;
    width:40px;
  }

  hr{
    border-color:#6B9BEC;
    width:100%;
    border-width:2px;
    border-style: solid;
    border-radius:1px;
  }