<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" >
        <link rel="stylesheet" href="../static/css/menu.css">
        <link rel="stylesheet" href="../static/css/main.css">
        <link rel="stylesheet" href="../static/css/formformat.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
        <title>Create a project</title>
    </head>
    <body>
        <div class="menu">
            <a href="/managerHome"><img src="../static/images/home.png" alt="Home" height="30px"></a>
            <a href="#" class="inactiveLink">Create a project</a>
            <a href="/logout">Log out</a>
        </div>
        <div class="main">
            <h1>Create a new project</h1>

            {% set skills =  ['Assembly', 'Bash', 'C', 'C++', 'C#' , 'CSS','F#' , 'Fortran', 'Go', 
            'Haskell', 'HTML', 'Java', 'JavaScript', 'JSON', 'Kotlin', 'Lisp', 'MATLAB' , 'OCaml', 'Pascal', 'Perl', 'PHP',
            'PowerShell', 'Prolog', 'Python', 'R', 'Ruby', 'Rust', 'Scala', 'SQL', 'Swift', 'TeX', 'XML'] %}

            <form method='post'>
                <div id="staticdata">
                    <label> Project name:
                        <input type="text" name="project_name" id="project_name">
                    </label><hr>
                    <label>Deadline:
                        <input type="date" name="deadline" id="deadline">
                    </label><br><br>
                    <div class="inputgroup">
                        <label>Worst-case time estimate:
                            <input type="date" name="worst_time" id="worst_time">
                        </label>
                        <label>Best-case time estimate:
                            <input type="date" name="best_time" id="best_time">
                        </label>
                        <label>Average time estimate:
                            <input type="date" name="avg_time" id="avg_time">
                        </label>
                    </div><hr>
                    <label>Budget:
                        <input type="number" name="budget" id="budget">
                    </label><br><br>
                    <div class="inputgroup">
                        <label>Worst-case budget estimate:
                            <input type="number" name="worst_budget" id="worst_budget">
                        </label>
                        <label>Best-case budget estimate:
                            <input type="number" name="best_budget" id="best_budget">
                        </label>
                        <label>Average budget estimate:
                            <input type="number" name="avg_budget" id="avg_budget">
                        </label>
                    </div><hr>
                </div>
                <div id="dynamicdata" class="inputgroup">
                    <div id="developersFormSection">
                        <p>Add a developer to the project:</p>
                        <select name="developers">
                        {% for dev in allDevelopers%}
                            <option value="{{dev}}">{{dev}}</option>
                        {% endfor %}
                        </select>
                        <button onclick="addDeveloper()">Add a developer</button>
                        <br> 
                        <p> The current developers are:</p>
                        <!-- To be modified when I figure out the JavaScript -->
                        <ul id="currentdev">
                        </ul>
                    </div>
                    <div id="requirementsFormSection">
                        <p>Add a programming language to the project requirements:</p>
                        <select name="skillset">
                        {% for skill in skills%}
                            <option value="{{skill}}">{{skill}}</option>
                        {% endfor %}
                        </select>
                        <button onclick="addRequirement()">Add a requirement</button>
                        <br> 
                        <p> The current project requirements are:</p>
                        <ul id="currentreq">
                            <!-- To be modified when I figure out the javascript for this -->
                        </ul>
                    </div>
                </div><br>
                <input type="submit" value="Create a new project">
            </form>
        </div>
    </body>
</html>
