<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" >
        <link rel="stylesheet" href="../static/css/menu.css">
        <link rel="stylesheet" href="../static/css/main.css">
        <link rel="stylesheet" href="../static/css/formformat.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
        <script src="../static/js/jquery-3.6.0.min.js"></script>
        <script type="text/javascript" src="../static/js/createProject.js"></script>
        <title>Create a project</title>
    </head>
    <body>
        <div class="menu">
            <a href="/managerHome"><img src="../static/images/home.png" alt="Home" height="30px"></a>
            <a href="#" class="inactiveLink">Create a project</a>
            <a href="/createProject">Create new project</a>
            <a href="/softSkills">Update personal status</a>
            <a href="/logout">Log out</a>
        </div>
        <div class="main">
            <h1>Create a new project</h1>

            {% set skills =  ['Assembly', 'Bash', 'C', 'C++', 'C#' , 'CSS','F#' , 'Fortran', 'Go', 
            'Haskell', 'HTML', 'Java', 'JavaScript', 'JSON', 'Kotlin', 'Lisp', 'MATLAB' , 'OCaml', 'Pascal', 'Perl', 'PHP',
            'PowerShell', 'Prolog', 'Python', 'R', 'Ruby', 'Rust', 'Scala', 'SQL', 'Swift', 'TeX', 'XML'] %}

            <form method='post' id="createProjectForm" onsubmit="return validateForm();" action="/createProjectRedirect">
                <div id="staticdata">
                    <label> Project name:
                        <input type="text" name="project_name" id="project_name">
                    </label><br>
                    <h3>Codebase details</h3>
                    <div class="inputgroup">
                        <label> Repository owner:
                            <input type="text" name="repo_owner" id="repo_owner">
                        </label>
                        <label> Repository name:
                            <input type="text" name="repo_name" id="repo_name">
                        </label>
                    </div>
                    <hr>
                    <label>Deadline:
                        <input type="date" name="deadline" id="deadline">
                    </label><br><br>
                    <div class="inputgroup">
                        <label>Worst-case time estimate:
                            <input type="date" name="worst_time" id="worst_time">
                        </label>
                        <label>Best-case time estimate:
                            <input type="date" name="best_time" id="best_time">
                        </label>
                        <label>Average time estimate:
                            <input type="date" name="avg_time" id="avg_time">
                        </label>
                    </div><hr>
                    <label>Budget:
                        <input type="number" name="budget" id="budget">
                    </label><br><br>
                    <div class="inputgroup">
                        <label>Worst-case budget estimate:
                            <input type="number" name="worst_budget" id="worst_budget">
                        </label>
                        <label>Best-case budget estimate:
                            <input type="number" name="best_budget" id="best_budget">
                        </label>
                        <label>Average budget estimate:
                            <input type="number" name="avg_budget" id="avg_budget">
                        </label>
                    </div><hr>
                </div>
                <div id="dynamicdata" class="inputgroup">
                    <div id="developersFormSection">
                        <p>Add a developer to the project:</p>
                        <div class="inputgroup">
                            <select name="developers" id="developers">
                            {% for dev in allDevelopers%}
                                <option value="{{dev.developer_id}}">{{dev.first_name}} {{dev.last_name}}</option>
                            {% endfor %}
                            </select>
                            <button class="add_developer">Add a developer</button>
                            <button class="remove_developer">Remove the selected developer</button>
                        </div>
                        <br> 
                        <p> The current developers are:</p>
                        <!-- Developers should be added here in JS -->
                        <ul id="currentdev">
                        </ul>
                    </div>
                    <div id="requirementsFormSection">
                        <p>Add a programming language to the project requirements:</p>
                        <div class="inputgroup">
                            <select name="skillset" id="skillset">
                            {% for skill in skills%}
                                <option value="{{skill}}">{{skill}}</option>
                            {% endfor %}
                            </select>
                            <button class="add_requirement">Add a requirement</button>
                            <button class="remove_requirement">Remove the selected requirement</button>
                        </div>
                        <br> 
                        <p> The current project requirements are:</p>
                        <!-- Requirements should be added here in JS -->
                        <ul id="currentreq">
                        </ul>
                    </div>
                </div><br>
                <input type="submit" value="Create a new project">
            </form>

            <script>
                function validateForm() {
                    worst_time = document.getElementById("worst_time").value
                    best_time = document.getElementById("best_time").value
                    avg_time = document.getElementById("avg_time").value
                    worst_budget = document.getElementById("worst_budget").value
                    best_budget =document.getElementById("best_budget").value
                    avg_budget = document.getElementById("avg_budget").value
                    if( worst_time == "" || best_time =="" || avg_time ==""){
                        alert("Please fill in all the time estimates.");
                        return false;
                    }
                    else if( worst_time < avg_time){
                        alert("Worst time estimation needs to be higher than the average time estimation");
                        return false;
                    } else if( avg_time < best_time){
                        alert("Average time estimation needs to be higher than the best time estimation");
                        return false;
                    } else if( worst_budget < avg_budget){
                        alert("Worst budget estimation needs to be higher than the average budget estimation");
                        return false;
                    } else if( avg_budget < best_budget){
                        alert("Average budget estimation needs to be higher than the best budget estimation");
                        return false;
                    } else{
                        return true; 
                    }
                }
            </script>

        </div>
    </body>
</html>
