<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" >
        <link rel="stylesheet" href="../static/css/menu.css">
        <link rel="stylesheet" href="../static/css/main.css">
        <title>Home</title>
    </head>
    <body>
        <div class="menu">
            <a href="/developerHome"><img src="../static/images/home.png" alt="Home" height="30px"></a>
            <a href="#" class="inactiveLink">Home</a>
            <a href="/logout">Log out</a>
        </div>
        <div class="main">
            <h1>Test</h1>
            <p>Test text here</p>
        </div>
    </body>
</html>
