<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" >
        <link rel="stylesheet" href="../static/css/menu.css">
        <link rel="stylesheet" href="../static/css/main.css">
        <link rel="stylesheet" href="../static/css/formformat.css">
        <title>Skills</title>
    </head>
    <body>
        <div class="menu">
            <a href="/developerHome"><img src="../static/images/home.png" alt="Home" height="30px"></a>
            <a href="#" class="inactiveLink">Skills</a>
            <a href="/logout">Log out</a>
        </div>
        <div class="main">
            <h1>Your skills</h1>
            {% set skills =  ['Assembly', 'Bash', 'C', 'C++', 'C#' , 'CSS','F#' , 'Fortran', 'Go', 
                'Haskell', 'HTML', 'Java', 'JavaScript', 'JSON', 'Kotlin', 'Lisp', 'MATLAB' , 'OCaml', 'Pascal', 'Perl', 'PHP',
                'PowerShell', 'Prolog', 'Python', 'R', 'Ruby', 'Rust', 'Scala', 'SQL', 'Swift', 'TeX', 'XML'] %}
            
            <div class="skilldiv"> 
                <p>Add a programming language to your skillset:</p>
                <select name="skillset">
                {% for skill in skills%}
                    {% if skill not in currentSkills %}
                    <option value="{{skill}}">{{skill}}</option>
                    {% endif %}
                {% endfor %}
                </select>
                <button onclick="addSkill()">Add a new skill</button>
                <br> 
                <p> Your currently listed skills are:</p>
                <ul id="currentskills">
                    {% for csk in currentSkills %}
                    <li>
                        {{csk}}
                        <button onclick="removeSkill()" id="{{csk}}" style="font-size:30px;font-weight:500;">&times;</button>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </body>
</html>
