<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" >
        <link rel="stylesheet" href="../static/css/menu.css">
        <link rel="stylesheet" href="../static/css/main.css">
        <link rel="stylesheet" href="../static/css/formformat.css">
        <title> Login </title>
    </head>
    <body>
        <div class="main">
            <h2 style="text-align: center;"> Login Page </h2>
            <form method="post" id="loginform" action="/loginRedirect">
                <label>Email</label>
                <input type='email' name='email'></br>
                <label>Password</label>
                <input type='password' name='password' minlength="8"></br>
                <!-- Login should be handled by the loginRedirect route in Flask-->
                <div style="display:flex; align-items:center;">
                <input id="loginBtn" type='submit' value='Login' style="margin:0px 10px;flex-grow:1"></br>
                <!-- Register redirects to the register route -->
                <input type='button' id="registerBtn" type='button' value='Register' style="margin:0px 10px;flex-grow:1"></button>
                </div>
                <!-- JavaScript for processing the register - input button -->
                <script type="text/javascript">
                    document.getElementById("registerBtn").onclick = function () {
                        location.href = "/register";
                    };
                </script>
            </form>
        </div>
    </body>
</html>
