<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" >
        <link rel="stylesheet" href="../static/css/menu.css">
        <link rel="stylesheet" href="../static/css/main.css">
        <script src="../static/js/jquery-3.6.0.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
        <title>Project Information</title>
    </head>
    <body>
        <div class="menu">
            <a href="/managerHome"><img src="../static/images/home.png" alt="Home" height="30px"></a>
            <a href="#" class="inactiveLink">Project information</a>
            <a href="/createProject">Create new project</a>
            <a href="/softSkills">Update personal status</a>
            <a href="/logout">Log out</a>
        </div>
        <div class="main">
            <h1>Project details: {{project.project_name}}</h1>
            <div>
                <div class="update_project_form">
                    <form>
                        <input type="hidden" name="project_id" value={{project.project_id}}>
                        <input type="submit" value="Submit">
                    </form>
                </div>
                <div>
                    
                </div>
                <div>
                    
                </div>
            </div>
        </div>
    </body>
</html>
