<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" >
        <link rel="stylesheet" href="../static/css/menu.css">
        <link rel="stylesheet" href="../static/css/main.css">
        <link rel="stylesheet" href="../static/css/formformat.css">
        <script src="../static/js/jquery-3.6.0.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.37.1/apexcharts.min.js" integrity="sha512-hl0UXLK2ElpaU9SHbuVNsvFv2BaYszlhxB2EntUy5FTGdfg9wFJrJG2JDcT4iyKmWeuDLmK+Nr2hLoq2sKk6MQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.37.1/apexcharts.min.css" integrity="sha512-FVK9gBi+kZ53Adi2mwTlAXLduxcltMFsyTyoLhJyJcVgbhXb0eQdAGNjoNc7Mt75cH0uc6I1JEdjWc36TUhBuQ==" crossorigin="anonymous" referrerpolicy="no-referrer">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
        <title>Project Information</title>
        <style>
            .contentbox {
                margin: 10px;
            }
            form{
                padding:0px;
                background-color:#00000000;
            }
        </style>
    </head>
    <body>
        <div class="menu">
            <a href="/managerHome"><img src="../static/images/home.png" alt="Home" height="30px"></a>
            <a href="#" class="inactiveLink">Project information</a>
            <a href="/createProject">Create new project</a>
            <a href="/softSkills">Update personal status</a>
            <a href="/logout">Log out</a>
        </div>
        <div class="main">
            <h1>Project details: {{project.project_name}}</h1>
            <h3>{{res}}</h3>
            <form method="post" action="/updateProjectRedirect">
                <input type="hidden" name="project_id" value="project.project_id">
                <input type="submit" value="Update project">
            </form>
            <div id="projectAnalysis" class="contentdiv">
                <div id="columnOne"  class="contentdiv_column">
                    <div id="softSkillsAnalysis" class="contentbox">
                        <h3 title="Displays data provided by team members in their personal status forms">Team status</h3>
                        {% if softSkillValues[0] == 0 %}
                         <p>Data unavailable. Please ask the team developers to complete the personal status form</p>
                        {% else %}        
                        <canvas id="softSkillsChart" style="width:100%;min-width:300px;"></canvas>
                        <script type="module">
                           
                            var xValues = ["Enthusiasm", "Purpose", "Challenge", "Health", "Resilience"];
                            var yValues = {{softSkillValues}};
                            var barColors = [];
                            for(var i = 0; i < 5; i++){
                                var color = randomColor()
                                barColors.push(color);
                                console.log(color)
                            }
                            new Chart("softSkillsChart", {
                            type: 'polarArea',
                            data: {
                                labels: xValues,
                                datasets: [{
                                  label: 'Personal Status Data',
                                  data: yValues,
                                  backgroundColor: barColors
                                }]
                              },
                            options: {
                                title: { display: false },
                                animation: {
                                    duration: 0
                                }
                            }
                            });
                        </script>
                        {% endif %}
                    </div>
                    <div id="projectRequirementsAnalysis" class="contentbox"> 
                        <h3 title="How many developers fit each requirement">Requirements compatibility</h3>
                        {% if not projectReqLabels%}
                         <p>Data unavailable. Please add requirements to the project</p>
                        {% else %}         
                        <canvas id="projectRequirementsChart" style="width:100%;min-width:300px"></canvas>
                        <script type="module">
                            var xValues = [];
                            var yValues = {{projectReqValues}};
                            var barColors = [];
                            for(var i = 0; i < yValues.length; i++){
                                var color = randomColor()
                                barColors.push(color);
                            }
                            {% for item in projectReqLabels %}
                                var newitem = "{{item}}"
                                xValues.push(newitem);
                            {% endfor %}
                            new Chart("projectRequirementsChart", {
                                type: "bar",
                                data: {
                                    labels: xValues,
                                    datasets: [{
                                    backgroundColor: barColors,
                                    data: yValues
                                    }]
                                },
                                options: {
                                    legend: {display: false},
                                    scales: {
                                        yAxes: [{
                                            display: true,
                                            ticks: {
                                                beginAtZero: true   // minimum value will be 0.
                                            }
                                        }]
                                    },
                                    title: {
                                        display: false
                                    }
                                }
                            });
                        </script>
                        {% endif %}
                    </div>
                </div>
                <div id="columnTwo" class="contentdiv_column">
                    <div id="monteCarloComponents" class="contentbox">
                        <h3 title="Completion prediction based on project components">Completion of project components</h3>
                        {% if initialRisk %}
                        <p> The initial risk factor computed based on your time and budget components is {{initialRisk}}. </p>
                        <p> If the deadline and budget for the project are extended by 20%, the new risk factor would be {{newRisk}} </p>
                        {% else %}
                        <p> Looks like you haven't added any project cost or time components!<p>
                        {% endif %}
                    </div>
                    <div id="commitsByHour" class="contentbox">
                        <h3 title="Number of code commits for each hour"> Commits by hour </h3>
                        {% if not commitsByHour %}
                        <p> There is no code-specific data for the project yet. </p>
                        {% else %}    
                        <canvas id="hourlyChart" style="width:100%;max-width:600px"></canvas>
                        <script type="module">
                            var xValues = ["0", "1", "2","3","4", "5", "6","7","8", "9", "10","11",
                                            "12", "13", "14","15","16", "17", "18","19","20", "21", "22","23"];
                            var yValues = {{commitsByHour}};
                            var barColors = [];
                            for(var i = 0; i < yValues.length; i++){
                                var color = randomColor()
                                barColors.push(color);
                            }
                            new Chart("hourlyChart", {
                            type: "bar",
                            data: {
                                labels: xValues,
                                datasets: [{
                                backgroundColor: barColors,
                                data: yValues
                                }]
                            },
                            options: {
                                legend: {display: false},
                                title: {
                                display: false},
                                scales:{
                                    yAxes: [{
                                        display: true,
                                        scaleLabel: {
                                            display: true,
                                            labelString: 'Commits'
                                        }
                                    }],
                                    xAxes: [{
                                        display: true,
                                        scaleLabel: {
                                            display: true,
                                            labelString: 'Hours'
                                        }
                                    }]
                                }
                            }
                            });
                        </script>
                        {%endif%}
                    </div>
                </div>
            </div>
        </div>
        <script>
            function hsv_to_rgb(h, s, v) {
                let r, g, b;
                let h_i = parseInt(h * 6);
                let f = h * 6 - h_i;
                let p = v * (1 - s);
                let q = v * (1 - f * s);
                let t = v * (1 - (1 - f) * s);
                if (h_i === 0) [r, g, b] = [v, t, p];
                if (h_i === 1) [r, g, b] = [q, v, p];
                if (h_i === 2) [r, g, b] = [p, v, t];
                if (h_i === 3) [r, g, b] = [p, q, v];
                if (h_i === 4) [r, g, b] = [t, p, v];
                if (h_i === 5) [r, g, b] = [v, p, q];
                return [parseInt(r * 256), parseInt(g * 256), parseInt(b * 256)]
              };
              function randomColor(){
                let golden_ratio_conjugate = 0.618033988749895;
                let h = Math.random();
                h += golden_ratio_conjugate;
                h %= 1;
                var values = hsv_to_rgb(h, 0.5, 0.95)
                return 'rgb(' + values.join(', ') + ')';
              }
        </script>
    </body>
</html>
