<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" >
        <link rel="stylesheet" href="../static/css/menu.css">
        <link rel="stylesheet" href="../static/css/main.css">
        <link rel="stylesheet" href="../static/css/formformat.css">
        <link rel="stylesheet" href="../static/css/toggle_switch.css">
        <link rel="stylesheet" href="../static/css/alert.css">
        <script src="../static/js/jquery-3.6.0.min.js"></script>
        <title>Register</title>
    </head>
    <body>
        <div class="main">
            <h2 style="text-align: center;"> Register </h2>
            <form method="post" action="/registerRedirect">
                <label>Email</label>
                <input type='email' name='email'minlength="5"><br>
                <div style="display:flex;">
                    <div style="flex-grow:1;">
                        <label>First Name</label><br>
                        <input type='text' name='firstname' style="width:90%;">
                    </div>
                    <div style="flex-grow:1;">
                        <label>Last Name</label><br>
                        <input type='text' name='lastname' style="width:90%;">
                    </div>
                </div><br>
                <label>Password</label>
                <input type='password' name='password' minlength="8"><br>
                <label>Confirm password</label>
                <input type='password' name='confpassword' minlength="8"><br>
                <div style="width:100%; display:flex; align-items:center;">
                    <label>
                        Sign up for a manager account.
                    </label>
                    <label class="switch" style="max-width:80px;">
                        <input type="checkbox" name="myCheck" id="myCheck" onclick="myFunction()">
                        <span class="slider round"></span>
                    </label>
                    <label id="text">OFF</label>
                    <script type="text/javascript">
                        function myFunction() {
                            var checkBox = document.getElementById("myCheck");
                            var text = document.getElementById("text");
                            if (checkBox.checked == true){
                                text.textContent = "ON";
                            } else {
                                text.textContent = "OFF";
                            }
                          }
                          
                    </script>
                </div><br>
                <input type='submit' value='Register'>
            </form>
            {% block content %}
            <div class="container">
                {% for message in get_flashed_messages() %}
                <br>
                <div class="alert" >
                    <span class="closebtn" onclick="this.parentElement.style.display='none';" style="font-size: 50px;">&times;</span>
                    {{message}}
                </div>
                {% endfor %}

                {% block page_content %}{% endblock %}
            </div>
            {% endblock %}
        </div>
    </body>
</html>
