<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" >
        <link rel="stylesheet" href="../static/css/menu.css">
        <link rel="stylesheet" href="../static/css/main.css">
        <link rel="stylesheet" href="../static/css/formformat.css">
        <script src="../static/js/jquery-3.6.0.min.js"></script>
        <title>Update soft skills</title>
    </head>
    <body>
        <div class="menu">
            {% if isManager%}
            <a href="/managerHome"><img src="../static/images/home.png" alt="Home" height="30px"></a>
            {% else %}
            <a href="/developerHome"><img src="../static/images/home.png" alt="Home" height="30px"></a>
            {% endif %}
            <a href="#" class="inactiveLink">Update status</a>
            {% if isManager%}
            <a href="/createProject">Create new project</a>
            {% else %}
            <a href="/developerSkills">Add skills</a>
            {% endif %}
            <a href="/softSkills">Update personal status</a>
            <a href="/logout">Log out</a>
        </div>
        <div class="main">
            <h1>Personal status questionnaire</h1>
            <form method="post" action="/updateSoftSkills">
                {% if defaultvalues is not defined %}
                    {% set defaultvalues = {'enthusiasm': 4, 'purpose': 4,'challenge': 4, 'health': 4, 'resilience': 4} %}
                {% endif %}
                <div class='formgroup'>
                    <label>Enthusiasm</label>
                    <input type='range' name='enthusiasm' id='enthusiasm' min='1' max='5' step='1' value='{{defaultvalues.enthusiasm}}'>
                </div> <br>
                <div class='formgroup'>
                    <label>Purpose</label>
                    <input type='range' name='purpose' id='purpose' min='1' max='5' step='1' value='{{defaultvalues.purpose}}'>
                </div> <br>
                <div class='formgroup'>
                    <label>Challenge</label>
                    <input type='range' name='challenge' id='challenge' min='1' max='5' step='1' value='{{defaultvalues.challenge}}'>
                </div> <br>
                <div class='formgroup'>
                    <label>Health</label>
                    <input type='range' name='health' id='health' min='1' max='5' step='1' value='{{defaultvalues.health}}'>
                </div> <br>
                <div class='formgroup'>
                    <label>Resilience</label>
                    <input type='range' name='resilience' id='resilience' min='1' max='5' step='1' value='{{defaultvalues.resilience}}'>
                </div> <br>
              
                <input type='submit' value='Update information'>
            </form>
        </div>
    </body>
</html>
