<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" >
        <link rel="stylesheet" href="../static/css/menu.css">
        <link rel="stylesheet" href="../static/css/main.css">
        <link rel="stylesheet" href="../static/css/formformat.css">
        <script src="../static/js/jquery-3.6.0.min.js"></script>
        <title>Update project information</title>
    </head>
    <body>
        <div class="menu">
            <a href="/managerHome"><img src="../static/images/home.png" alt="Home" height="30px"></a>
            <a href="#" class="inactiveLink">Update project information</a>
            <a href="/createProject">Create new project</a>
            <a href="/softSkills">Update personal status</a>
            <a href="/logout">Log out</a>
        </div>
        <div class="main">
            <h1>Project name: {{project.project_name}}</h1>
            <form method="post" action="/updateProjectRedirect">
                <input type='hidden' name='id' id='projectid' value={{project.project_id}}>
                <legend>Time estimates</legend><br>
                <div class="inputgroup">
                    <label>Worst-case time estimate:
                        <input type="date" name="worst_time" id="worst_time" value="{{timecomponent.worst}}">
                    </label>
                    <label>Best-case time estimate:
                        <input type="date" name="best_time" id="best_time" value="{{timecomponent.best}}">
                    </label>
                    <label>Average time estimate:
                        <input type="date" name="avg_time" id="avg_time" value="{{timecomponent.average}}">
                    </label>
                </div>
                <br><hr><br>
                <legend>Budget estimates</legend><br>
                <div class="inputgroup">
                    <label>Worst-case budget estimate:
                        <input type="number" name="worst_budget" id="worst_budget" value="{{costcomponent.worst}}">
                    </label>
                    <label>Best-case budget estimate:
                        <input type="number" name="best_budget" id="best_budget" value="{{costcomponent.best}}">
                    </label>
                    <label>Average budget estimate:
                        <input type="number" name="avg_budget" id="avg_budget" value="{{costcomponent.average}}">
                    </label>
                </div><br>
                <input type='submit' value='Update information'>
            </form>
        </div>
    </body>
</html>
