<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" >
        <link rel="stylesheet" href="../static/css/menu.css">
        <link rel="stylesheet" href="../static/css/main.css">
        <link rel="stylesheet" href="../static/css/formformat.css">
        <link rel="stylesheet" href="../static/css/updateProject.css">
        <script src="../static/js/jquery-3.6.0.min.js"></script>
        <title>Update project information</title>
    </head>
    <body>
        <div class="menu">
            <a href="/managerHome"><img src="../static/images/home.png" alt="Home" height="30px"></a>
            <a href="#" class="inactiveLink">Update project information</a>
            <a href="/createProject">Create new project</a>
            <a href="/softSkills">Update personal status</a>
            <a href="/logout">Log out</a>
        </div>
        <div class="main">
            <h1>Project name: {{project.project_name}}</h1>
            <input type="hidden" id="projectriskid" name="projectriskID" value={{project.project_risk_id}}>
            <div class="add_content" id="budgetcomponents">
                <div class="wrap">
                    <h2>Add a new budget component</h2>
                    <a href="#budgetcomponents" class="add" id="addBudget">&plus;</a>
                </div>
                <div class="estimations" id="budgetEstimation">
                    {% for comp in budgetComponents %}
                    <div class="flex">
                        <input type="hidden" value="Budget">
                        <input type="text" value="{{comp.name}}" name={{comp.name}}>
                        <input type="number" value="{{comp.absval}}" name={{comp.absval}}>
                        <input type="number" value="{{comp.worst}}" name{{comp.worst}}>
                        <input type="number" value="{{comp.best}}" name={{comp.best}}>
                        <input type="number" value="{{comp.average}}" name={{comp.average}}>
                        <a class="delete" onclick="removeInput()">&times;</a>
                        <hr class="customHR">
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="add_content" id="timecomponents">
                <div class="wrap">
                    <h2>Add a new time component</h2>
                    <a href="#timecomponents" id="addTime" class="add">&plus;</a>
                </div>
                <div class="estimations" id="timeEstimation">
                    {% for comp in timeComponents %}
                    <div class="flex">
                        <input type="hidden" value="Time">
                        <input type="text" value="{{comp.name}}" name={{comp.name}}>
                        <input type="number" value="{{comp.absval}}" name={{comp.absval}}>
                        <input type="number" value="{{comp.worst}}" name{{comp.worst}}>
                        <input type="number" value="{{comp.best}}" name={{comp.best}}>
                        <input type="number" value="{{comp.average}}" name={{comp.average}}>
                        <a class="delete" onclick="removeInput()">&times;</a>
                        <input type="submit" class="submit" name="Submit" onsubmit="submitInput()">
                        <hr class="customHR">
                    </div>
                    {% endfor %}
                </div>
            </div>
            <script src="../static/js/addComponent.js"></script>
        </div>
    </body>
</html>
