<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" >
        <title>Update project information</title>
    </head>
    <body>
        <div class="menu">
            <a href="/managerHome"><img src="../static/images/home.png" alt="Home" height="30px"></a>
            <a href="#" class="inactiveLink">Update project information</a>
            <a href="/logout">Log out</a>
        </div>
        <div class="main">
            <h1>Project name: {{project.project_name}}</h1>
            <form method="post" action="/updateProjectRedirect">
                <input type='hidden' name='id' id='projectid' value={{project.project_id}}>
                <input type='submit' value='Update information'>
            </form>
        </div>
    </body>
</html>
